@font-face {
  font-family: myFirstFont;
  src: url("font/Fontonyel.ttf");
}

.wrapper {
  display: grid;
  grid-template-columns: repeat(3, 100px);
  width: 500px;
  gap: 10px;
  grid-template-areas:
    "a a a b";
  align-content: end;
}
.tblmeet {
  grid-area: a;
}
.itemright {
  grid-area: b;
}
body {
 font-family: 'myFirstFont';
 background-image: url("img/greentable.png");
 background-size:     cover;
 background-repeat:   no-repeat;
 background-position: center center;
 background-color: #cccccc;
}

h2{
 font-family: 'myFirstFont';
 font-size: 2rem;
 color: white;
 text-align: center;
}

p{
 font-family: 'myFirstFont';
 font-size: 1.2rem;
 color: white;
}


.external-link {
  font-size: 0;
}

.external-link::before {
  content: 'Add meeting';
  visibility: hidden;
  width: 200px;
  background-color: #555;
  color: #fff;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;
  position: absolute;
  left: 30px;
  z-index: 2;
  opacity: 0;
  transition: opacity 0.3s;
}

.external-link::after {
  content: ' ';
  background: url("img/add.png") no-repeat;
  display: block;
  height: 32px;
  width: 32px;
}

.external-link:hover.external-link::before {
  font-size: initial;
  visibility: visible;
  opacity: 1;
}

.external-link-del {
  font-size: 0;
}

.external-link-del::before {
  content: 'Delete meeting';
  visibility: hidden;
  width: 200px;
  background-color: #555;
  color: #fff;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;
  position: absolute;
  top:-50px;
  left: 30px;
  z-index: 2;
  opacity: 0;
  transition: opacity 0.3s;
}

.external-link-del::after {
  content: ' ';
  background: url("img/remove.png") no-repeat;
  display: block;
  height: 32px;
  width: 32px;
}

.external-link-del:hover.external-link::before {
  font-size: initial;
  visibility: visible;
  opacity: 1;
}
