<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Frameset//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-frameset.dtd">
<html>
    <head>
        <title>
            Connection HUB
        </title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>
<frameset rows='2%,10%,2%,30%,2%,*,2%' border='0'>

    <frame scrolling="no" frameborder=0 src={{src_b}}>

    <frameset cols='1%,*,1%' border="0">
        <frame frameborder=0 src={{src_b}}>
        <frame scrolling="no" frameborder=0 src={{src}}>
        <frame frameborder=0 src={{src_b}}>
    </frameset>

    <frame scrolling="no" frameborder=0 src={{src_b}}>

    <frameset cols='1%,*,*,1%' border="0">
        <frame frameborder=0 src={{src_b}}>
        <frame frameborder=0 src={{src_1}}>
        <frame frameborder=0 src={{src_2}}>
        <frame frameborder=0 src={{src_b}}>
    </frameset>

    <frame scrolling="no" frameborder=0 src={{src_b}}>

    <frameset cols='1%,80%,*,1%'  border='0'>
        <frame scrolling="no" frameborder=0 src={{src_b}}>
        <frame frameborder=0 src={{src_3}}>
        <frame frameborder=0 src={{src_4}}>
        <frame scrolling="no" frameborder=0 src={{src_b}}>
    </frameset>

    <frame scrolling="no" frameborder=0 src={{src_b}}>
</frameset>

</html>
